html {
    background-color: rgb(61, 63, 61);
    font-size: 20px;
  }
  
  ul {
    background: rgb(125, 125, 125);
    padding: 10px;
    border: 1px solid black;
  }
  
  li {
    margin-left: 20px;
  }